body {
    margin: 0;
    font-family: 'Mulish', sans-serif;
}

/* navigation-1 */
nav {
    background-color: whites;
    height: 10.5vh;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 5px;
}

nav img {
    height: 12vw;
    margin-top: -3vw;
    margin-left: -1.5vw;
}

.page-title {
    font-size: 30px;
    font-weight: 1000;
    color: #ffb218;
    margin-top: -17vh;
    margin-left: 9vw;
    font-family: 'Mulish', sans-serif;
}

nav table {
    background-color: #D9D9D9;
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
    border-radius: 5px;
    margin-top: -75px;
    margin-left: 24vw;
    width: 449px;
}

nav input {
    background-color: #D9D9D9;
    border: 0px;
    padding: 2px;
    padding-left: 50px;

}

.nav-dropdown p{
    font-size: 13px;
    margin-left: 5px;
    font-family: 'Mulish', sans-serif;
}
.nav-dropdown-content{
    position: absolute;
    background-color: #D9D9D9;
    width: 100px;
    height: 120px;
    margin-top: 2px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
}

.nav-dropdown-content a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin-left:px ;
    font-weight: 100;
    border-radius: 5px;
    margin-top: 4px;
    padding-left: 8px;
}

.nav-dropdown-content a:hover{
    font-weight: 700;
    background-color: white;
}

nav table td:nth-child(1):hover .nav-dropdown-content{
display: block;
}


.nav-slash {
    font-size: 20px;
    font-weight: lighter;
    margin-top: -4px;
}

.search-icon {
    font-size: 14px;
    margin-left: 5px;
    margin-top: 1px;
    color: gray;
    position: absolute;
}

.delivery-time {
    margin-top: -45px;
    margin-left: 57vw;
    font-size: 19px;
    font-family: 'Mulish', sans-serif;
}

.delivery-address {
    margin-top: -20px;
    margin-left: 57vw;
    font-size: 13px;
    font-family: 'Mulish', sans-serif;
}

.user img {
    margin-left: 75vw;
    height: 25px;
    margin-top: -45px;
    position: absolute;
}

#login-page{
    position: absolute;
    width:0;
    height: 0;;
}

.like {
    margin-left: 80vw;
    font-size: 24px;
    margin-top: -45px;
    position: absolute;
}

.cart {
    margin-left: 85vw;
    font-size: 24px;
    margin-top: -43px;
    position: absolute;
}

.my-cart {
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
    margin-left: 93vw;
    margin-top: -52px;
    font-weight: bolder;
}

.my-cart:hover{
    color: #ffb218;
}


.bill {
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
    margin-left: 93.5vw;
    margin-top: -19px;
    font-weight: bolder;
}

.bill:hover {
    color: #ffb218;
}
.like-count {
    width: 15px;
    background-color: #ffb218;
    margin-left: 81vw;
    border-radius: 5px;
    margin-top: -50px;
    position: absolute;
}

.item-count {
    width: 15px;
    background-color: #ffb218;
    margin-left: 86vw;
    border-radius: 5px;
    margin-top: -50px;
    position: absolute;
}


/* navigation-2 */

.nav2 {
    background-color: whites;
    height: 8.8vh;

    display: flex;
    flex-direction: row;
}

.shop-by-category {
    background-color: #ffb218;
    width: 250px;
    height: 50px;
    border-radius: 4px;
    display: flex;
    margin-left: 20px;
    margin-top: 5px;
}

.shop-by-category p {
    font-family: 'Mulish', sans-serif;
    margin-left: 25px;
    position: relative;
}

.shop-by-category i {
    font-size: 20px;
    margin-top: 15px;
    margin-left: 20px;
}

.nav2-bars p:hover{
    color: #ffb218;
}
.nav2-bars {
    display: flex;
    margin-left: 20px;
}

.nav2-bars p {
    margin-left: 65px;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Mulish', sans-serif;
    margin-top: 18px;
}

.Home {
    color: #ffb218;
}

#price-tag {
    margin-top: 23px;
    margin-left: 21vw;
    position: absolute;
}

.recently-viewed {
    font-size: 17px;
    font-weight: 500;
    font-family: 'Mulish', sans-serif;
    margin-top: 18px;
    margin-left: 120px;
}
.recently-viewed:hover{
color: #ffb218;
}

#recent-tag {
    margin-top: 23px;
    margin-left: 79vw;
    position: absolute;
}

.slider-section {
    background-image: url(/background.png);
    height: 65vh;
    margin-top: -3px;
}

.slider-1 {
    width: 871px;
    height: 380px;
    border-radius: 12px;
    margin-top: 30px;
    margin-left: 100px;
}
.slider-2{
    width: 405px;
    height: 380px;
    border-radius: 12px;
    margin-left: 20px;
}
#slider-im{
  
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    animation:5s ease-in-out;
}

#slider-im:target{
    width: 871px;
    height: 380px;
    top: 0;
    left: 0px;
    border-radius: 12px;
    margin-top:169px;
    margin-left: 100px;
    animation: 1s ease-in-out;
    
}
.slider-image-inner{
    position: absolute;
    margin-left: 150px;
    margin-top: -300px;
    font-size: 25px;
    color:#2a4356;
    font-weight: 600;
}
.next-slide {
    text-decoration: none;
    width: 20px;
    background-color: #ffffff;
    height: 22px;
    border-radius: 1px solid black;
    margin-left: 1050px;
    margin-top: -35px;
    position: absolute;
}
.pre-slide {
    text-decoration: none;
    width: 20px;
    background-color: #ffffff;
    height: 22px;
    margin-left: 1010px;
    margin-top: -35px;
    position: absolute;

}
.l a{
text-decoration: none;
}
.browse-head {
    font-size: 30px;
    font-family: 'Mulish', sans-serif;
    margin-left: 80px;
    font-weight: 1000;
}
.browse-head:hover{
    color: #827f7f;
}

.browse-category:hover{
    color: #ffb218;
}

.browse-category {
    font-size: 15px;
    margin-top: -51px;
    margin-left: 380px;
    font-family: 'Mulish', sans-serif;
}

.browse-dropdown-content{
    position: absolute;
    background-color: #D9D9D9;
    width: 100px;
    height: 120px;
    margin-top: -80px;
    margin-left: 31.5vw;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
}

.browse-dropdown-content a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin-left:px ;
    font-weight: 100;
    border-radius: 5px;
    margin-top: 4px;
    padding-left: 8px;
}

.browse-dropdown-content a:hover{
    font-weight: 700;
    background-color: white;
}

.browse-dropdown:hover .browse-dropdown-content{
display: block;

}

.browse-body {
    display: flex;
    margin-left: 60px;
    margin-top: 60px;
}

.browse-box {
    width: 166px;
    height: 260px;
    background-color: #EAEAEA;
    margin-left: 20px;
    border-radius: 12px;
}

.browse-box-text {
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin-top: 175px;
    margin-left: 43px;
}

.browse-box img {
    margin-top: -180px;
    position: absolute;
    margin-left: 30px;
}

.browse-box:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.featured-by {
    margin-top: 70px;
    margin-bottom: 50px;
}

.featured-category:hover{
    color: #ffb218;
}

.featured-category {
    font-size: 15px;
    margin-top: -51px;
    margin-left: 360px;
    font-family: 'Mulish', sans-serif;
}

.featured-body {
    display: flex;
    margin-left: 60px;
    margin-top: 60px;
}

.featured-box {
    margin-left: 10px;
}

.featured-name {
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
    font-weight: 1000;
    color: #a49b9b;
}

.featured-description {
    font-family: 'Mulish', sans-serif;
    margin-top: -15px;
    font-weight: 1000;
    font-size: 20px;
}
.featured-box img{
    width: 321px;
   margin-bottom: 10px;
}

.featured-box:hover{
    color: #ffb218 ; 
}

.next-background-section{
    background-image: url(/section-background.png);
    height: 1630px;
    
}

.Best-seller-body{
    position: absolute;
    display: flex;
    margin-left: 65px;
    margin-top: 150px;
   
}
.best-seller-heading li{
    display: inline-block;
    margin-left: 50px;
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
}
.best-seller-heading{
    list-style: none;
    margin-top:60px;
    position: absolute;
    margin-left: 30px;
}

.best-seller-head{
    font-size: 30px !important;
    font-family: 'Mulish', sans-serif;
    margin-left: 80px;
    font-weight: 1000;
}

.best-seller-heading li:hover{
    color: #a49b9b;
}

.best-seller-box{
    width: 230px;
    height: 382px;
    border: 1px solid #a49b9b;;
    background-color: #FFFFFF;
}

.best-seller-box:hover{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}


.best-product-name{
    color:#2d82d2;
    margin-top: 200px;
    margin-left: 25px;
    font-size: 14px;
    font-family: 'Mulish', sans-serif;
}

.best-description{
    font-size: 14px;
    margin-left: 25px;
    font-family: 'Mulish', sans-serif;
}

.best-stars{
margin-left: 25px;
color: #ffb218;
}
.best-stars:hover{
    color: blanchedalmond;
}


.best-volume{
    margin-left: 25px;
    font-size: 11px;
    font-family: 'Mulish', sans-serif;
    color: #a49b9b;
    font-weight: 700;
}

.best-price{
    margin-left: 25px;
    font-size: 17px;
    color: #398A1D;
    font-weight: 600;
    font-family: 'Mulish', sans-serif;
    margin-top: -5px;
}

.best-seller-box img{
    width: 161px;
    height: 172px;
    position: absolute;
    margin-left: 25px;
}

.Trending{
    margin-top: 600px;
  position: absolute;
}

.Trending-heading li{
    display: inline-block;
    margin-left: 50px;
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
}
.Trending-heading{
    list-style: none;
    margin-top:30px;
    margin-left: 30px;
}

.Trending-head{
    font-size: 30px !important;
    font-family: 'Mulish', sans-serif;
    margin-left: px;
    font-weight: 1000;
}

.Trending-heading li:hover{
    color: #a49b9b;
}

.Trending-body{
    position: absolute;
    display: flex;
    margin-left: 65px;
    margin-top:40px;

}

.Best-price-head p{
    margin-top: 1200px;
    position: absolute;
    font-size: 30px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    margin-left: 105px;
}
.Best-price-body{
    margin-left: 50px;
}

.Best-price-body img{
    margin-top: 1280px;
    width: 418px;
    height: 250px;
    margin-left: 20px;
   border-radius: 11px;
}

.Best-price-body img:hover{
    opacity: 0.8;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}


/* features-section */


.features{
    height: 150px;
    background-color: white;
    border-bottom: 1px solid #D9D9D9;
    display: flex;
}
.features-box{
    margin-right: 80px;
}

.features img{
    margin-top: 50px;
    margin-left:0px;
}
.features-name {
    font-size: 17px;
    font-family: 'Mulish', sans-serif;
    margin-top: -50px;
    margin-left: 70px;
    font-weight: 900;
    color: #575757;
}

.features-description{
    margin-left: 70px;
    margin-top: -10px;
    font-weight: lighter;
    font-size: 13px;
    font-family: 'Mulish', sans-serif;
    color: #767676;
}

.features-box:hover{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: whitesmoke;
}


/* contact-section */


.contact-section {
    height: 500px;
   display: flex;
   list-style: none;
   font-family: 'Mulish', sans-serif;
   color: #555555;
}

.contact-section li{
    list-style: none;
}


/* contact-first-box */


.contact-first-box li:nth-child(1){
    margin-top: 40px;
    font-size: 24px;
}
.contact-first-box li:nth-child(1) span{
    font-size: 27px;
   
    color: #ffb218 ;
    font-weight: bold;
}
.contact-first-box li:nth-child(2){
 
    margin-top: 25px;
    font-size: 14px;
    color: #555555;
    margin-left: 15px;
}
.contact-first-box li:nth-child(3){
    margin-top: 20px;
    font-size: 17px;
    color: #555555;
    margin-left: 15px;
  
}
.contact-first-box li:nth-child(4){
    margin-top: 20px;
    font-size: 23px;
    color: #555555;
    font-weight: 700;
    margin-left: 51px;
 
}
.contact-first-box li:nth-child(5){
    margin-top: 30px;
    font-size: 17px;
    color: #555555;
    margin-left: 15px;
   
}
.contact-first-box li:nth-child(6){
    margin-top: 30px;
    font-size: 17px;
    color: #555555;
    margin-left: 15px;
}



/* contact-second-box */

.contact-second-box{
    margin-left:60px
}
.contact-second-box li{
    margin-top: 20px;
    font-size: 14px;
}
.contact-second-box li:nth-child(1){
    margin-top:45px;
    font-size: 24px;
}

/* contact-third-box */


.contact-third-box li{
    margin-top: 20px;
    font-size: 14px;
}
.contact-third-box li:nth-child(1){
    margin-top:45px;
    font-size: 24px;
}

.contact-third-box{
    margin-left:60px
}
/* contact-fourth-box */
.contact-fourth-box{
    margin-left:60px
}
.contact-fourth-box li{
    margin-top: 20px;
    font-size: 14px;
}
.contact-fourth-box li:nth-child(1){
    margin-top:45px;
    font-size: 24px;
}


/* contact-fivth-box */
.contact-fivth-box{
    margin-left:30px
}
.contact-fivth-box li{
    margin-top: 20px;
    font-size: 14px;
}
.contact-fivth-box li:nth-child(1){
    margin-top:45px;
    font-size: 24px;
}
.contact-fivth-box ol li:nth-child(3){
    display: flex;
}
.contact-fivth-box ol li:nth-child(3) input{
   height: 30px;
   width: 135px;
}
.contact-fivth-box ol li:nth-child(3) button{
background-color: #ffb218;
}

.contact-fivth-box ol li:nth-child(5) li{
    display: inline-block;
    margin-right: 20px;
    margin-top: -30px;
}
.contact-fivth-box ol li:nth-child(5) li i:hover{
color: #ffb218;
}
.contact-fivth-box ol li:nth-child(5){
    margin-left: -30px;
}

















.contact-section li:hover{
    color: #ffb218;
}